@import "compass";

$background_color: #aaa;
$text: #fff;
$melon_orange:#ff9376;
$blank: #333333;
$bars: #fff;
$social_hover: #000;
$social_bg: #fff;

body{
color: $text;
overflow: hidden;
}

a{
  color: $text;
  text-decoration:none;
  font-family: PTMono;
  transition: all 0.4s ease-in;
}

#background {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    @include background-origin(border-box);
    @include background-size(cover);
    background-position: center;
    background-repeat: no-repeat;

    #canvas {
        z-index: -10;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    svg{
      position: absolute;
      z-index: -1;
      top: -5%;
      .svg_rotate1{
        transform-origin: center;
        animation : 35s
        cubic-bezier(0.28, 0.01, 0.76, 0.99) 0s normal none infinite running rotating;
        transition: 2s smooth;
      }

      .svg_rotate2{
        transform-origin: center;
        animation : 40s
        cubic-bezier(0, 0.3, 1, 0.67) 0s normal none infinite running rotating;
        transition: 2s smooth;
      }

      @keyframes rotating {
      0% { transform: rotate(0deg); }
      50% { transform: scale(180deg); }
      100% { transform: rotate(360deg); }
      }
    }

}

.col-centered{
  float: none;
  margin: 0 auto;
}

.cp_logo{
  width: 300px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.padding_top{
  padding-top: 5%;
}

#main{

}

/*====Footer====*/
#header{
    padding: 50px;
    height: 100%;
    width: 100%;
  .social_links_div{
    width: 100%;
    display: inline-block;;
    position: fixed;
    left: 0;
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }

  .social_links {
  	margin: 2em;
  	padding-top: 2px;
  	padding-bottom: 2px;
  	padding-left: 7px;
  	padding-right: 7px;
  }

  a{
    &:hover{
    text-decoration: none;
    color: $social_hover;
    border-radius: 2px;
    background: $social_bg;
  }
  }
}

/*====Subscribe====*/
#mail{
.subscribe{
  width: 50%;
  margin: 0 auto;
  display: block;
}

input{
  background: transparent;
  border: none;
  border-style: none;
  border-shadow: none;
  border-bottom: 1px $blank solid !important;
}

input[placeholder]{
  text-align: center;
}

input:focus{
  background: none;
  border-style: none;
  border-shadow: none;
}

.word_scatter {
  height: 100%;
 li {
  display: inline;
  position: absolute;
}
}

.moving_humanity{
  color: $melon_orange;
  position: relative;
  z-index: -1;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 50px;
  }
}

/*====Equalizer===*/
@keyframes hop {
	0% {
		height: 0;
  }

	50% {
		height: 12px;
  }

	100% {
		height: 5px;
  }
}

@mixin equalize($number) {
	animation: hop #{$number}s ease-in infinite;
}

.equalizer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -14px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

.equalizer-item {
	display: inline-block;
	background: $bars;
	width: 2px;
	height: 10px;
}

.equalizer-nopop {
	height: 2px;
}

.bar-1 {
	@include equalize(.5);
}

.bar-2 {
	@include equalize(.9);
}

.bar-3 {
	@include equalize(.7);
}

.bar-4{
  @include equalize(.6);
}


/*====Mouse light====*/
.mouse_light
{
  width: 800px;
  height: 800px;
  position : absolute;
  z-index: -1;
  background: -webkit-radial-gradient(rgba(255,255,255,0.3), rgba(200,200,200,0), rgba(150,150,150,0)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(255,255,255,0.3), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(255,255,255,0.3), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(255,255,255,0.3), rgba(200,200,200,0), rgba(150,150,150,0)); /* Standard syntax */
}
