@import "compass";

$background_color: #000;
$text: #1a1a1a;
$melon_orange:#ff5400;
$blank: #333333;
$bars: #1a1a1a;
$social: #fff;
$social_hover: #000;
$social_bg: #fff;
$org: #ffb07b;
$arrow: #1a1a1a;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: false;
}

*{
  margin: 0;
  padding: 0;
}

body{
width: 100%;
height: 100%;
color: $text;
margin: 0;
padding: 0;
overflow: hidden;
display: block;
transition: all 1s ease-in;
font-family: SourceCodePro200;
font-size: 0.8em;
letter-spacing: 0.1em;
}

a{
  color: $text;
  text-decoration:none;
  font-family: PTMono;
  transition: all 0.2s ease-in;
}

#background {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    @include background-origin(border-box);
    @include background-size(cover);
    background-position: center;
    background-repeat: no-repeat;

    #canvas {
        z-index: -10;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    svg{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: auto;
      .svg_rotate1{
        transform-origin: center;
        animation : 35s
        cubic-bezier(0.28, 0.01, 0.76, 0.99) 0s normal none infinite running rotating;
        transition: 2s smooth;
      }

      .svg_rotate2{
        transform-origin: center;
        animation : 40s
        cubic-bezier(0, 0.3, 1, 0.67) 0s normal none infinite running rotating;
        transition: 2s smooth;
      }

      @keyframes rotating {
      0% { transform: rotate(0deg); }
      50% { transform: scale(180deg); }
      100% { transform: rotate(360deg); }
      }
    }

}

.col-centered{
  float: none;
  margin: 0 auto;
}

.cp_logo{
  width: 300px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  @include no-select;
}

.padding_top{
  padding-top: 5%;
}

#main{
    padding: 5vh 0 5vh 0;
}

/*====Footer====*/
#header{
    padding: 5% 0 5% 0 ;
    height: 100px;

  .social_links_div{
    width: 100%;
    display:table-column;
    position: absolute;
    left: 0;
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }

  .social_links {
  	/*margin: 2em;*/
  	padding-top: 2px;
  	padding-bottom: 2px;
  	padding-left: 7px;
  	padding-right: 7px;
  }

  a{
    color: $social;
    &:hover{
    text-decoration: none;
    color: $social_hover;
    border-radius: 2px;
    background: $social_bg;
  }
  }
}

/*====Subscribe====*/
#mail{
  height: 180px;
  bottom: 0;
.subscribe{
  width: 50%;
  margin: 0 auto;
  display: block;

}

input{
  background: transparent;
  border: none;
  border-style: none;
  border-shadow: none;
  border-bottom: 1px $blank solid !important;
}

input[placeholder]{
  text-align: center;
  @include input-placeholder {
    font-family: PTMono;
    color: #1a1a1a;
  }
}


input:focus, input:active{
  background: none;
  border-style: none;
  border-shadow: none;
  box-shadow: none;
}

input:focus {
  border-color: transparent;
  box-shadow: transparent;
  border-style: none;
}

.submit{
  position: absolute;
  top: -2px;
  right: 25%;
  background: transparent;
  border: none;
  color: $arrow;
  visibility: hidden;
}

.moving_humanity{
  color: $melon_orange;
  position: relative;
  z-index: -1;
  height: 60px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  /*padding: 50px;*/
  }
}

.typed-cursor{
  display: none;
}

/*====Equalizer===*/
@keyframes hop {
	0% {
		height: 0;
  }

	50% {
		height: 12px;
  }

	100% {
		height: 5px;
  }
}

@mixin equalize($number) {
	animation: hop #{$number}s ease-in infinite;
}

.equalizer {
  position: relative;
  /*left: 48%;
  padding: 15px 0 15px 0;*/
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
  text-align:center;
}

.equalizer-item {
	display: inline-block;
	background: $bars;
	width: 2px;
	height: 10px;
}

.equalizer-nopop {
	height: 2px;
}

.bar-1 {
	@include equalize(1.4);
}

.bar-2 {
	@include equalize(1.6);
}

.bar-3 {
	@include equalize(1);
}

.bar-4{
  @include equalize(1.2);
}


/*====Mouse light====*/
.mouse_light
{
  width: 800px;
  height: 800px;
  position : absolute;
  z-index: -1;
  background: -webkit-radial-gradient(rgba(255,255,255,0.6), rgba(200,200,200,0), rgba(150,150,150,0)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(255,255,255,0.6), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(255,255,255,0.6), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(255,255,255,0.6), rgba(200,200,200,0), rgba(150,150,150,0)); /* Standard syntax */
}

/*===MediaQueries===*/

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #main{
            img{
            padding-top: 10vh;
            width: 50%;
            }
        }

    #header{
    padding-top: 20%;
    }

    #mail .subscribe{
    width: 80%;
    }

    .submit{
      right: 10%!important;
    }
        svg{
    display: none;
    }

    #div1{
      display: none;
    }
}

@media only screen  and (min-width : 1280px) and (min-height : 900px ){
    #main{
    //padding: 15vh 0 15vh 0;

    }

}

@media only screen  and (min-width : 1824px) {
    #main{
    //padding: 18vh 0 18vh 0;

}
}

::selection{
    background: $org;
}

#wrap{
display: block;
vertical-align: middle;
}
